.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E9DA9;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

    .footer a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
    }

        .footer a:hover {
            text-decoration: underline;
        }
