.custom-workout-builder {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}






.builder-container {
    width: 900px;
    height: 100%;

    background-color: var(--background);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.ant-steps-item-title {
    color: var(--text-dark) !important;
}

.step-content {
    margin-top: 30px;
    margin-bottom: 40px;
}

.builder-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.ant-card {
    border-radius: 8px;
}

    .ant-card h3 {
        margin-bottom: 16px;
    }

label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}

.ant-input,
.ant-select,
.ant-select-selector,
.ant-input-password {
    border-radius: 6px !important;
}

.muscle-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 16px;
    margin-top: 20px;
}

.muscle-card {
    text-align: center;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    transition: 0.2s ease;
    user-select: none;
}

    .muscle-card:hover {
        border-color: #1890ff;
        box-shadow: 0 0 5px rgba(24, 144, 255, 0.3);
    }

    .muscle-card.selected {
        background-color: #e6f7ff;
        border-color: #1890ff;
        font-weight: bold;
    }


@media (max-width: 768px) {
    .builder-container {
        padding: 20px;
    }

    .builder-buttons {
        flex-direction: column;
    }
}
