.homepagina {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #A3E9F1;
    overflow-x: hidden;
    position: relative;
}

.main-content {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
    background-color: #A3E9F1;
    position: relative;
}

.model {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #A3E9F1;
    position: relative;
    margin: 0px 10px 10px 10px;
    z-index: 1;
}

    .model h2 {
        font-size: 30px;
        color: #333;
        margin-bottom: 10px;
    }

    .model p {
        font-size: 24px;
        color: #333;
        line-height: 1.6;
        opacity: 0.8;
    }

