.homepagina {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #A3E9F1;
    overflow-x: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif; /* Voeg een modern lettertype toe */
}

.main-content {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
    background-color: #A3E9F1;
    position: relative;
    padding: 20px; /* Voeg padding toe */
}

.model {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #A3E9F1;
    position: relative;
    margin: 0px 10px 10px 10px;
    
    padding: 20px; /* Voeg padding toe */
}

    .model h2 {
        font-size: 36px; /* Maak de titel groter */
        color: #2C3E50; /* Donkerdere kleur voor betere leesbaarheid */
        margin-bottom: 15px;
        font-weight: bold; /* Maak de titel vetgedrukt */
    }

    .model p {
        font-size: 20px; /* Maak de tekst iets kleiner */
        color: #34495E; /* Donkerdere kleur voor betere leesbaarheid */
        line-height: 1.6;
        opacity: 0.9;
    }

    .model button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 18px;
        color: #fff;
        background-color: #3498DB;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .model button:hover {
            background-color: #2980B9; /* Hover effect voor de knop */
        }
