.login-page,
.signup-page {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #0099ff, #00ccff);
    padding: 40px 20px;
}

.login-container,
.signup-container {
    width: 100%;
    max-width: 420px;
    background-color: var(--card-bg);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
}

.ant-form-item-label > label {
    font-weight: 600;
    color: #003a4d;
}

.ant-input,
.ant-input-password,
.ant-select-selector,
textarea {
    border-radius: 8px !important;
}

.ant-btn-primary {
    background-color: #1890ff;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}

    .ant-btn-primary:hover {
        background-color: #40a9ff;
    }


.auth-hero {
    text-align: center;
    margin: 30px;
    color: white;
}

    .auth-hero h1 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .auth-hero p {
        font-size: 16px;
        margin: 0;
    }

.auth-illustration {
    max-width: 180px;
    margin:   20px auto 0;
    display: block;
}

body.dark-mode .login-page,
.signup-page {
    background: linear-gradient(to bottom, #0d1a28, #102a3c);
}

body.dark-mode .login-container,
body.dark-mode .signup-container {
    background-color: var(--card-bg);
    color: white;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

body.dark-mode .ant-input,
body.dark-mode .ant-input-password,
body.dark-mode .ant-select-selector,
body.dark-mode .ant-input-affix-wrapper
body.dark-mode .ant-form-item-required{
background-color: #1e1e1e !important;
color: white;
border-color: #444 !important;
}

    body.dark-mode .ant-input::placeholder,
    body.dark-mode .ant-input:focus,
   
    
    body.dark-mode .ant-input-affix-wrapper:focus {
        border-color: #40a9ff !important;
        box-shadow: 0 0 0 2px rgba(64, 169, 255, 0.2) !important;
    }

    body .dark-mode .ant-form-item-label > label {
        color: white;
    }

body.dark-mode .ant-btn-primary {
    background-color: #0185ff! important;
    color: var(--cta-text) !important;
}
